force-app/main/default/flows/Send_Telegram_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Is_New_or_Status_Updated</name>
        <label>Is New or Status Updated</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YEs</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>isNewCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Telegram_User</targetReference>
            </connector>
            <label>YEs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Telegram_User</name>
        <label>Is Telegram User?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Telegram_User_Id_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Telegram_User_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Telegram_Event</targetReference>
            </connector>
            <label>Telegram User Id Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNewCase</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>messageBody</name>
        <dataType>String</dataType>
        <expression>IF({!isNewCase}, &apos;You case has been created successfully Case Number - &apos;+{!$Record.CaseNumber}+&apos; for your reference&apos; ,&apos;You case &apos;+{!$Record.CaseNumber}+ &apos; is updated to &apos;+Text({!$Record.Status}))</expression>
    </formulas>
    <interviewLabel>Send Telegram Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Telegram Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Telegram_Event</name>
        <label>Create Telegram Event</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Contact_Id__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message_Body__c</field>
            <value>
                <elementReference>messageBody</elementReference>
            </value>
        </inputAssignments>
        <object>Telegram_Notification_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_or_Status_Updated</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
